<h2>The Project:</h2>
<p>
    This project is a wiki page that allows a user to search for movies and people and edit selected information about them. It uses NodeJS' Express module to send and receive requests and Sqlite3 module to interact with a database of movie information.
</p>
<p>
    This project also uses the jQuery and AngularJS frameworks to facilitate the multitude of innerHTML/replace functions that load unique pages for each movie or person.
</p>

<br/><br/><br/><br/>

<div class="container">
    <img src="images/vincent.jpg" alt="Picture of Vincent" class="profile-pic" align="left" />
    <p> Vincent is a Third-year student at the University of St. Thomas and will graduate next May with a major in Computer Science. He is interesting at Algorithm in general and web developing.  </p>
    <br/>

    <p>HomePage: <a href="https://vincentlee9512.github.io/">https://vincentlee9512.github.io</a></p>

</div>