
{{# if success }}
    <section class="success">
        <h2>Successful Validation!</h2>
    </section>
{{else}}
    {{# if errors }}
        <section class="errors">
            <ul>
                {{#each errors}}
                    <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
    <form id="myForm" action="/submit" method="post" class="form-inline">
        <div class="form-group mb-2">
            <label>Key word(s)</label>
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="content">
        </div>

        <button type="submit" class="btn btn-warning mb-2">search</button>
    </form>
{{/if}}