<h1>{{ title }}</h1>

{{# if success }}
    <section class="success">
        <h2>Successful Validation!</h2>
    </section>
{{else}}
    {{# if errors }}
        <section class="errors">
            <ul>
                {{#each errors}}
                    <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
    <form action="/submit" method="post">
        <div class="input-group">
            <label>Key word(s)</label>
            <input type="text" class="form-control" name="content">
        </div>

        <button type="submit">search</button>
    </form>
{{/if}}