<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">


</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <a class="navbar-brand" href="/">Movie Wiki</a>

        <div>
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/about">About Me</a>
            </div>
        </div>
    </nav>

    <div class="container">

        {{{ body }}}

    </div>

    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/app.js"></script>
</body>
</html>